* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-img: url(none);
  --bg-animation:none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(201, 210, 218, 0.947);
}
.text {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3%;
}
.text input {
  height: 100%;
  width: 50%;
}

.container-img {
  height: 60%;
  width: 70%;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
  background-color: rgba(53, 53, 54, 0.7);
  background-image: var(--bg-img);
  animation:var(--bg-animation) ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;

  width: 100vw;
  height: 4%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.container button {
  color: aliceblue;
  font-size: 1.3rem;
  background-color: rgba(222, 148, 12, 0.72);
  height: 100%;
  /* background-image: url(./img/Estilo.jpeg); */
  width: 25%;
}
@keyframes slider {
    0%, 18% {
        background-image: url(./img/Celso.jpg);
        
    }
    20%, 38% {
        background-image: url(./img/Estilo.jpeg);
        
    }
    40%, 58% {
        background-image: url(./img/Java.webp);
       
    }
    60%,78%{
        background-image: url(./img/Oculos.jpeg);
    }
     80%,100%{
        background-image: url(./img/pedra.jpeg);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    15%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }}